/ejercicio2/build/
/ejercicio2/nbproject/private/
/ejercicio3/build/
/ejercicio3/nbproject/private/
/ejercicio4/build/
/ejercicio4/nbproject/private/
/ejercicio5/build/
/ejercicio5/nbproject/private/
/ejercicio6/build/
/ejercicio6/nbproject/private/
/ejercicio7/build/
/ejercicio7/nbproject/private/